{% extends 'arche/base.html' %}

{% block content %}
	<h1><center>Hello {{ username }}!</center></h1>

	<b>Moje choroby psychiczne PYTHON</b></br></br>
	{% for w1, w2, w3 in wypis_python_zipped %}
		{{ w1 }}
		{{ w2 }}
		{{ w3 }}</br>
	{% endfor %}
	</br>

	<b>Moje choroby psychiczne DATALOG</b></br></br>
	{% for w1, w2, w3 in wypis_datalog_zipped %}
		{{ w1 }}
		{{ w2 }}
		{{ w3 }}</br>
	{% endfor %}
	</br>
	<a href="/test">Wypełnij test</a></br>

	<center>
		{% if admin == True %}
			<a href="/wykresy">Pretty charts</a>
		{% endif %}
		</br></br>
		<a href="/chce_zmienic_haslo">I want to change my password</a></br>
		<a href="/logout">Logout</a>
	</center>
{% endblock %}