{% extends 'arche/base.html' %}

{% load filter_tags %}

{% block content %}


	<script> var liczby = {{ liczby|tojson }}; </script>
	<script> var nazwy = {{ nazwy|safe }}; </script>

	<script> var wieki = {{ wieki|tojson }}; </script>
	<script> var liczby_wiekow = {{ liczby_wiekow|tojson }}; </script>
	<p id="demo"></p>
	<p id="demo2"></p>

	<!--<script>-->
		<!--var LICZBA_CHOROB = 8;-->
		<!--var text = "";-->
		<!--var i;-->
		<!--for (i = 1; i <= LICZBA_CHOROB; i++) {-->
			<!--text += liczby[i] + " ";-->
		<!--}-->
		<!--document.getElementById("demo").innerHTML = text;-->
	<!--</script>-->
	<!--<script>-->
		<!--var text2 = "";-->
		<!--var i;-->
		<!--for (i = 1; i <= LICZBA_CHOROB; i++) {-->
			<!--text2 += nazwy[i] + "</br>";-->
		<!--}-->
		<!--document.getElementById("demo2").innerHTML = text2;-->
	<!--</script>-->

	<!--Load the AJAX API-->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		var LICZBA_MOZLIWOSCI_CHOROB = 12;

		// Load the Visualization API and the corechart package.
		google.charts.load('current', {'packages':['corechart']});

		// Set a callback to run when the Google Visualization API is loaded.
		google.charts.setOnLoadCallback(drawChart);

		// Callback that creates and populates a data table, instantiates the pie chart, passes in the data and draws it.
		function drawChart() {
			// Create the data table.
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Choroba');
			data.addColumn('number', 'Liczba osób');
			var arr = [];
			for (i = 0; i < LICZBA_MOZLIWOSCI_CHOROB; i++) {
				arr.push([nazwy[i], liczby[i]]);
			}
			data.addRows(arr);

			// Set chart options
			var options = {'title':'Dystrybucja zaburzeń u uczestników badania', 'width':500, 'height':200};

			// Instantiate and draw our chart, passing in some options.
			var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
			chart.draw(data, options);
		}
	</script>
	<div class="wykres1" id="chart_div"></div>
	<div class="wykres1"></div>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Wiek');
			data.addColumn('number', 'Liczba osób');
			var arr = [];
			for (i = 0; i < wieki.length; i++) {
				arr.push([wieki[i], liczby_wiekow[i]]);
			}
			data.addRows(arr);
			var options = {'title':'Wiek uczestników badania', 'width':700, 'height':400};
			var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
			chart.draw(data, options);
		}
	</script>
	<div class="wykres1" id="chart_div2"></div>

	<center>
		<a href="/pulpit">Return tu pulpit</a>
	</center>
{% endblock %}