{% extends 'arche/base.html' %}

{% block content %}
	<div class="login-box w3-container w3-round-xlarge w3-center w3-padding-medium w3-light-blue w3-border w3-border-grey">
		</br></br>
		<p class="w3-Amatic_SC w3-xxxlarge">Nie pamiętasz hasła?</p>
		<p></br></br>Wpisz swoją nazwę użytkownika (username) i swój email. Wyślemy Ci jednorazowy żeton zmiany hasła.</p>
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Wyślij mi jednorazowy żeton" type="button"
				class="w3-round-xlarge w3-btn w3-white w3-Amatic_SC w3-large"
			/>
		</form>
		</br>
		<a href="/login">Wróć do strony logowania</a>
	</div>
{% endblock %}